<html lang="en">
<title> {{ inventory_hostname }} </title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            background-size: cover;
            font-family: monospace;
            background-color: rgb(13, 3, 36);
            color: rgb(204, 204, 211);
        }

        body * {
            margin-bottom: 50px;

        }
    </style>
</head>

<body>
    <h1> Welcome Hassan Abu Ali  From ITI WebServer !</h1>
    <div class="cotnainer">
        <div>
            <pre class="tab8">IP DNS HostName     {{ansible_hostname}}  </pre>
            <pre class="tab8">  Private IP     {{ ansible_eth0.ipv4.address }} </pre>
        </div>


    </div>
</body>

</html>
    